<!DOCTYPE html>
<html>
<head>
	<title>Shopping App</title>
</head>
<body>
 	<h1>Welcome to shopping list app!</h1>

 	<div><a href="test">Go to test page</a></div>
 	<div><a href="login">Go to login page</a></div>
 	<div><a href="shoppingList">Shopping Lisk</a></div>

<form action="#", method="post">
	<div>
	  <label for="enterItemName">Enter name of item you want to buy:</label>
	  <input type="name" id="itemName" name="itemName"><br><br>
	  <input type="submit" name="submit">
	</div>
</form>

'''
TODO: history
	- inished buys
	- statistics
	- database
	- help that finish word for you when you are typing (JS probably)



</body>
</html>