<head>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <script src="/static/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    {% if title %}
    <title>Flask Blog - {{ title }}</title>
    {% else %}
    <title>Flask Blog</title>
    {% endif %}
</head>

<body>



    <!-- Bootstrap navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="fossils">Trade helper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shoppingList">Shopping List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cv">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test">Test Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="playground">Playground</a>
                </li>



            </ul>
            <span class="navbar-text">
            </span>
        </div>
    </nav>

    <div class="container">

        {% block content%}{% endblock %}


    </div>
</body>