<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="static/playgroundStylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Hello world!</h>

        <h2>
            H2
        </h2>
        <h3>h3</h3>
        <div class="box1>" <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti accusamus, perspiciatis
            aliquam inventore
            numquam molestiae sequi tempora sit commodi illo assumenda iusto ducimus similique rem, libero ipsum fugit
            esse
            enim?</p>
        </div>

        <div id="main-footer">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eius consequatur placeat earum
                blanditiis accusamus saepe non assumenda pariatur obcaecati neque, id, dolorem fugiat? Ab sint ipsa
                earum distinctio at. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum fugit eveniet
                earum totam necessitatibus? Autem ex voluptatibus veniam unde, excepturi aspernatur dicta id laudantium
                ab optio error distinctio corrupti adipisci.
            </p>

        </div>

</body>

</html>