<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="pageTitle.css">
</head>
<body>
	<h1 id="header">Shopping List</h1>
	<ul>
	{% for i in range(0, len) %} 
	  
	    <li id="listOfLinks">{{items[i].name}} - {{items[i].count}} 
	    <a href="/shoppingList/edit/{{i}}">Edit item</a>
	{%endfor%} 	
	</ul>

	<form action="" method="POST" name="id1">
		<p>Add item</p>
		<p><input type="text" name="item"></p>
		<p>Add count</p>
		<p><input type="number" name="count"></p>
		<p><input type="submit" value="submitButton" name="formId"></p>
	</form>

</body>
</html>