{% extends "layout.html" %}
{% block content %}


<h1 id=" header">Shopping List</h1>
<div>
	<ul>
		{% for i in range(0, len) %}

		<li id="listOfLinks">{{items[i].name}} - {{items[i].count}}
			<a href="/shoppingList/edit/{{items[i]['itemId']}}">Edit item</a>
			{%endfor%}
	</ul>

	<form action="" method="POST" name="id1">
		<p>Add item</p>
		<p><input type="text" name="item"></p>
		<p>Add count</p>
		<p><input type="number" name="count"></p>
		<p><input type="submit" value="submitButton" name="formId"></p>
	</form>
</div>
{% endblock  content %}