<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	<script src="/static/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
			</ul>
		</div>
	</nav>

	<div>

		<h1>Hello, Bootstrap</h1>

		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae odit iusto laudantium, nisi aperiam
			doloremque
			expedita harum eos amet, iste in atque aut odio sunt fuga error vel at commodi?</p>

	</div>

	<div class="block-wrapper">
		<div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, maxime ipsa asperiores ullam
				ratione
				rem! Nisi accusamus quidem totam? Repellendus eum saepe corporis assumenda architecto asperiores ratione
				quos! Consequatur, consectetur?
			</p>
		</div>
		<div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit quia doloremque obcaecati
				perspiciatis
				aut unde omnis minus esse, laboriosam natus cum quo placeat deleniti nisi officiis sunt accusamus
				magnam.
			</p>
		</div>
		<div>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. A aspernatur est nesciunt fuga. Debitis
				similique
				sapiente odit, possimus nesciunt non. At obcaecati eveniet nemo dolorem odio sunt voluptatem, asperiores
				deleniti?
			</p>
		</div>
	</div> <!-- end of class block-wrapper -->

	<div class="block-wrapper">
		<div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, maxime ipsa asperiores ullam
				ratione
				rem! Nisi accusamus quidem totam? Repellendus eum saepe corporis assumenda architecto asperiores ratione
				quos! Consequatur, consectetur?
			</p>
		</div>
		<div>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit quia doloremque obcaecati
				perspiciatis
				aut unde omnis minus esse, laboriosam natus cum quo placeat deleniti nisi officiis sunt accusamus
				magnam.
			</p>
		</div>
		<div>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. A aspernatur est nesciunt fuga. Debitis
				similique
				sapiente odit, possimus nesciunt non. At obcaecati eveniet nemo dolorem odio sunt voluptatem, asperiores
				deleniti?
			</p>
		</div>
	</div>
</body>